*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
ac-comphist.dat
session\.*
/bookmarks
elpa
filesets-cache.el
projectile.cache
projectile-bookmarks.eld
/.mc-lists.el
/org/**/*[^.keep]
.last-package-update-day
url
/recentf
*.last
.hl-save
/transient
.cache/
.lsp-session-v1
emojis/
srecode-map.el
request
