[submodule "vendor/git-emacs"]
	path = vendor/git-emacs
	url = git://github.com/tsgates/git-emacs.git
[submodule "vendor/fill-column-indicator"]
	path = vendor/fill-column-indicator
	url = https://github.com/alpaker/Fill-Column-Indicator.git
[submodule "vendor/evernote-mode"]
	path = vendor/evernote-mode
	url = https://github.com/pymander/evernote-mode.git
