[submodule "extensions/ide-skel"]
	path = extensions/ide-skel
	url = git://github.com/emacsmirror/ide-skel.git
[submodule "extensions/magit"]
	path = extensions/magit
	url = git://github.com/magit/magit.git
[submodule "extensions/haml-mode"]
	path = extensions/haml-mode
	url = git://github.com/nex3/haml-mode.git
[submodule "extensions/flymake"]
	path = extensions/flymake
	url = git://github.com/illusori/emacs-flymake.git
[submodule "extensions/anything-config"]
	path = extensions/anything-config
	url = git://repo.or.cz/anything-config.git
[submodule "extensions/undo-tree"]
	path = extensions/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
